body {
    margin: 0px;
}

.custom {
    max-width: 600px;
}

.body-m-left {
    margin-left: 10px;
}

.center_green {
    text-align: center; /* Center align text horizontally */
    vertical-align: middle; /* Center align text vertically */


}
